.forecast-container {
  background-color: var(--white);
}

.forecast-title {
  margin-top: 0;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.forecast-table {
  width: 100%;
  padding: 0 25px;
}

.forecast-info {
  font-size: 1.1rem;
}

.forecast-day {
  font-weight: bold;
}

.icon-small {
  width: 40px;
}